@model UserViewModel
@{
    ViewData["Title"] = "User: " + Model.User.Email;
}
<div class="row">
    <a class="nav-link" asp-controller="Users" asp-action="Index">
        <i class="fa fa-fw fa-angle-double-left" aria-hidden="true"></i>
        Back to Users
    </a>
</div>

<h1>User <small>@Model.User.Email</small></h1>

<h2>Information</h2>
@await Html.PartialAsync("_ViewInformation", Model)
<button id="deleteModalButton" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
    data-id="@Model.User.Id" data-type="user">
    <i class="fa fa-fw fa-trash" aria-hidden="true"></i>
    Delete
</button>
<form class="d-flex justify-content-between" asp-action="Delete" asp-route-id="@Model.User.Id" data-id="@Model.User.Id">
    <button class="btn btn-danger d-none" type="submit">
    </button>
</form>

@await Html.PartialAsync("_DeleteModal")